In [1]:
from pandasai import PandasAI
from pandasai.llm.openai import OpenAI
from utils import google_sheets_ai

LLM = OpenAI(api_token="TOKEN")
PANDAS_AI = PandasAI(LLM)

TEST1 = "https://docs.google.com/spreadsheets/d/1tNgmT4NzZAw7CpH52zOgolonRstXGlPT2XT9aHE-PsI/edit?usp=sharing"
TEST2 = "https://docs.google.com/spreadsheets/d/1SdgUPuYbxCl-AK9bLmHiizCrYsIXEQQz5PpBPCqO-rg/edit?usp=sharing"
TEST3 = "https://docs.google.com/spreadsheets/d/1q2OYWEtc25J_Es7hY911V-VZh5WpT1aeshCuEJcpFk4/edit?usp=sharing"
TEST4 = "https://docs.google.com/spreadsheets/d/1FKB4ZxsPWexUjlsNLAXCbI9wUbqG-lHNo5qaU7UEcx4/edit?usp=sharing"

In [2]:
prompt = "Show statistics for the parrots"

google_sheets_ai(
    PANDAS_AI, 
    url=TEST1, 
    prompt=prompt, 
    verbose=False)

       Parrot  Color Count Status
count       5      5     5      5
unique      5      4     3      2
top     Macaw  Green     2     LC
freq        1      2     2      4

In [3]:
prompt = "Show statistics for the salaries"
google_sheets_ai(
    PANDAS_AI, 
    url=TEST2, 
    prompt=prompt, 
    verbose=False)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
count,99,99,99,99,99,99,99,99,99,99,99
unique,2,4,2,18,81,4,82,10,3,9,3
top,2023,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M
freq,97,76,97,27,4,92,4,78,55,79,81

In [4]:
prompt = "Show statistics for the fruit"
google_sheets_ai(
    PANDAS_AI, 
    url=TEST3, 
    prompt=prompt, 
    verbose=False)

/Users/yassinkortam/Documents/GitHub/pandas-ai/spreadsheets/utils.py:141: UserWarning:
            The prompt is too ambiguous.
            - Please be more specific about the data table you are referencing by explicitly naming its unique columns.
            - Note that google sheets ai can only handle one dataframe at a time.

  warnings.warn(

       Fruit    Color Diameter
count       4       4        4
unique      4       3        3
top     Apple  Orange       15
freq        1       2        2

In [5]:
prompt = "Show statistics for the fruit"
google_sheets_ai(
    PANDAS_AI, 
    url=TEST4, 
    prompt=prompt, 
    verbose=False)

ValueError: No dataframes found in the Google Sheet